@import "../../../../styles/partials/variables";

.errorpopup-page{


  .btn-error {
    margin-left: 15px;
    border-radius: 0;
    padding: 15px 20px;
    background-color: $white;
    border: 1px solid $vivid-navy;
    @include font-line-height(14px, 500, $vivid-navy, 19px, TheinhardtPan Medium);
    &:hover, &:focus, &:active:focus,  &:active{
      background-color: $white !important;
      border: 1px solid $vivid-navy !important;
      box-shadow: none !important;
      @include font-line-height(14px, 500, $vivid-navy !important, 19px, TheinhardtPan Medium);
    }
  }


.meta-data-error {
  @include font-line-height(14px, 500, $black, 19px, TheinhardtPan Light);
  margin: 18px 0px;
}


}