@import "../../../../styles/partials/variables";
.newfooter{

>.new-footer-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  height: 70px;
  background-color: $mckinsey-deep-blue;



.more-info {
  text-align: right !important;
  margin-right: 44px;
  margin-top: 22px !important;
}

.new-footer-img {
  margin-top: 10px;
}

.new-footer-contact-link {
  color: #00a3de;
}
}
}